@import "./../../libs/variables.scss";

.cardContainer {
  min-width: 130px;
  margin: 0.5rem;
  height: 180px;
  position: relative;
  margin-bottom: 1.5rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: $radiusDiv;

  .info {
    position: absolute;
    width: 100%;
    bottom: 0rem;
    padding: 1.5rem 1rem 1rem;
    color: white;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.884),
      rgba(0, 0, 0, 0)
    );

    .name {
      font-family: $titleFont;
      font-size: $superSmall;
    }

    .city {
      font-family: $paragraphFont;
      font-size: $labelSize;
    }
  }
}
